# Flutter/Dart/Pub
.dart_tool/
.packages
.pub/
build/

# Flutter tool artifacts
.flutter-plugins
.flutter-plugins-dependencies

# IDE
.idea/
.vscode/
*.iml

# Logs
*.log

# Android
**/gradle-wrapper.jar
**/.gradle/
**/captures/
**/local.properties
**/GeneratedPluginRegistrant.java

# iOS/macOS
**/Pods/
**/.symlinks/
**/Flutter/Flutter.framework
**/Flutter/Flutter.podspec
**/Flutter/App.framework
**/Flutter/Generated.xcconfig
**/Flutter/ephemeral/

# Windows/Linux
**/flutter/ephemeral/