# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/

# Build outputs
build/

# IDE
.idea/
.vscode/
*.iml

# Android
android/.gradle/
android/local.properties

# iOS
ios/Pods/
ios/Flutter/ephemeral/

# Desktop
linux/flutter/ephemeral/
macos/Flutter/ephemeral/
windows/flutter/ephemeral/